/**
 * Debug
 */

.debug {
  background: rgba(0, 0, 0, 0.1) !important;
}

.debug-border {
  border: dashed 1px rgba(0, 0, 0, 0.1) !important;
}

/**
 * Layout
 */

.fit-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
 * ...
 */

.fixed-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 64px;
  /* margin-top: 56px; */
}

/*
@media (min-width: 600px) {
  .fixed-container {
    margin-top: 48px;
  }
}

@media (min-width: 960px) {
  .fixed-container {
    margin-top: 64px;
  }
}
*/

.-x-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-x-view-container-at-auth {
  background: rgba(237, 237, 237, 1);
  background: linear-gradient(
    to bottom,
    rgba(237, 237, 237, 1) 0%,
    rgba(246, 246, 246, 1) 53%,
    rgba(255, 255, 255, 1) 100%
  );
}

.-x-view {
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  align-self: flex-start;
}

@media (min-width: 400px) {
  .-x-view {
    min-width: 300px;
    /* min-width: 70%; */
  }
}

.-x-view-content {
  padding: 16px;
  max-width: 400px;
}

.-x-view-center {
  align-self: center;
}

.fade-enter-active {
  display: block;
  transition: opacity 0.5s ease;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}

.fade-leave-active {
  display: none;
}

/*
*   TEXT TRANSFORMATION AND STYLES
**/
.text-primary {
  color: #607d8b;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

/*
* ABSOLUTE FAB BUTTON
**/

.fab-bottom {
  position: absolute !important;
  bottom: 16px;
  right: 16px;
}
