<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Hello World</title>

    <!-- <SEO> -->

    <meta name="description" content="Hello World!" />
    <meta name="image" content="<%= BASE_URL %>logo.png" />

    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Hello World" />
    <meta itemprop="description" content="Hello World!" />
    <meta itemprop="image" content="<%= BASE_URL %>logo.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Hello World" />
    <meta name="twitter:description" content="Hello World!" />
    <meta name="twitter:image" content="<%= BASE_URL %>logo.png" />

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Hello World" />
    <meta name="og:description" content="Hello World!" />
    <meta name="og:image" content="<%= BASE_URL %>logo.png" />
    <meta name="og:type" content="website" />

    <!-- </SEO> -->

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <link rel="manifest" href="<%= BASE_URL %>manifest.json" />
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but Hello World doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>

    <div id="app"></div>
  </body>
</html>
