<template>
  <VLayout
    column
    class="-x-view -x-view-content"
    fill-height
  >
    ...
  </VLayout>
</template>

<script>
import * as Interaction from '~/Shared/Interaction';

export default {
  name: 'HomeView',
  data: () => ({
    posts: null,
  }),
  mounted() {
    this.fetchPosts();
  },
  methods: {
    fetchPosts() {
      this.$store
        .dispatch('Home/post.fetch')
        .then((response) => {
          this.$data.posts = response;
          // this.$data.posts = [];
        })
        .catch((error) => {
          Interaction.toast(Interaction.FAILURE, error);
        });
    },
  },
};
</script>
