<template>
  <VApp>
    <VNavigationDrawer
      id="navigationDrawer"
      v-model="$store.state.navigationDrawerVisible"
      app
      temporary
      fixed
    >
      <VList
        class="pa-1"
        two-line
      >
        <VListItem>
          <VListItemAvatar> <img :src="this.$store.state.Auth.userAccount.picture"> </VListItemAvatar>

          <VListItemContent>
            <VListItemTitle>{{ this.$store.state.Auth.userAccount.name }}</VListItemTitle>
            <VListItemSubtitle>{{ this.$store.state.Auth.userAccount.email }}</VListItemSubtitle>
          </VListItemContent>
        </VListItem>
      </VList>

      <VDivider />

      <VList
        class="pt-0"
        dense
      >
        <VListItem
          v-for="item in navigationMenuItems"
          :key="item.title"
          :to="item.route"
          ripple
        >
          <VListItemAction>
            <VIcon>{{ item.icon }}</VIcon>
          </VListItemAction>
          <VListItemContent>
            <VListItemTitle>{{ item.title }}</VListItemTitle>
          </VListItemContent>
        </VListItem>
        <VListItem
          key="Logout"
          ripple
          @click="logout()"
        >
          <VListItemAction> <VIcon>exit_to_app</VIcon> </VListItemAction>
          <VListItemContent> <VListItemTitle>Log out</VListItemTitle> </VListItemContent>
        </VListItem>
      </VList>

      <div
        class="caption"
        style="position: absolute; right: 16px; bottom: 16px;"
      >
        Version: {{ releaseVersion }}
      </div>
    </VNavigationDrawer>

    <VNavigationDrawer
      id="detailsDrawer"
      v-model="$store.state.detailsDrawerVisible"
      app
      temporary
      fixed
      right
      touchless
      style="padding: 0;"
    >
      <PortalTarget name="detailsDrawer" />
    </VNavigationDrawer>

    <VAppBar
      color="primary"
      app
      fixed
    >
      <VAppBarNavIcon
        id="navigationDrawerTrigger"
        class="white--text"
        @click.stop="$store.dispatch('NavigationDrawer.show')"
      />

      <VToolbarTitle class="white--text">
        {{ $route.name }}
      </VToolbarTitle>

      <VSpacer />

      <PortalTarget name="toolbar" />
    </VAppBar>

    <VContent>
      <VContainer
        fluid
        fill-height
        class="relative"
      >
        <Transition name="fade">
          <RouterView />
        </Transition>
      </VContainer>
    </VContent>
  </VApp>
</template>

<script src="./Session.js"></script>
