<template>
  <VApp>
    <VContent>
      <VContainer
        fluid
        fill-height
        class="relative"
      >
        <Transition name="fade">
          <!-- <router-view/> -->
          <VLayout
            class="-x-view -x-view-content"
            align-center
            justify-center
            column
            fill-height
          >
            <img src="../assets/logo.png">
            <RouterView />
          </VLayout>
        </Transition>
      </VContainer>
    </VContent>
  </VApp>
</template>

<style src="./Entrance.css"></style>

<script src="./Entrance.js"></script>
