<template>
  <VApp>
    <VContent>
      <VContainer
        :style="`background-color: ${$COLOR.primary};`"
        fluid
        fill-height
        class="relative"
      >
        <VLayout
          column
          class="-x-view -x-view-content"
          fill-height
        >
          <VLayout
            justify-center
            align-center
            column
            fill-height
          >
            <VProgressCircular
              :size="50"
              :width="2"
              color="secondary"
              indeterminate
            />
            <h2 class="mt-4 text-uppercase fw-100">
              Loading
            </h2>
          </VLayout>
        </VLayout>
      </VContainer>
    </VContent>
  </VApp>
</template>

<script>
export default {
  name: 'LandingView',
};

// @TODO implement
</script>
