<template>
  <div class="auth-view">
    <VForm class="pt-4">
      <VTextField
        v-model="$data.username"
        outlined
        color="white"
        placeholder="Email"
      />

      <VTextField
        v-model="$data.password"
        type="password"
        outlined
        color="white"
        placeholder="Password"
        autocomplete="current-password"
      />

      <VBtn
        :loading="$store.state.Activity.processing"
        :disabled="!username || !password"
        class="white--text mt-2"
        block
        color="accent"
        @click="login()"
      >
        Log in
      </VBtn>
    </VForm>

    <VLayout
      class="mt-2"
      justify-space-between
      row
    >
      <VBtn
        class="white--text"
        right
        text
        to="/sign-up"
      >
        Sign up
      </VBtn>

      <VBtn
        class="white--text"
        left
        text
        to="/password-reset"
        right
      >
        Password Reset
      </VBtn>
    </VLayout>
  </div>
</template>

<script>
import * as Interaction from '../Shared/Interaction';

export default {
  data: () => ({
    username: '',
    password: '',
  }),
  methods: {
    login() {
      this.$store.dispatch('Auth/login', {
        username: this.$data.username,
        password: this.$data.password,
      }).catch((error) => Interaction.toast({ type: Interaction.FAILURE, content: error.message }));;
    },
  },
};
</script>
