<template>
  <div class="auth-view">
    <VForm
      v-model="isValid"
      class="pt-4"
    >
      <VTextField
        v-model="$data.email"
        :rules="[$validate.required, $validate.email]"
        validate-on-blur
        outlined
        color="white"
        placeholder="Email"
      />

      <VBtn
        :loading="$store.state.Activity.processing"
        :disabled="!isValid"
        class="white--text mt-2"
        block
        color="accent"
        @click="initiatePasswordReset()"
      >
        Reset my password
      </VBtn>
    </VForm>

    <VLayout
      class="mt-2"
      justify-space-between
      row
    >
      <VBtn
        class="white--text text-xs-right"
        right
        text
        to="/login"
      >
        Log in
      </VBtn>

      <VBtn
        class="white--text text-xs-left"
        left
        text
        to="/sign-up"
        right
      >
        Sign up
      </VBtn>
    </VLayout>
  </div>
</template>

<script>
export default {
  data: () => ({
    email: '',
    isValid: false,
  }),
  methods: {
    initiatePasswordReset() {
      this.$store.dispatch('Auth/initiatePasswordReset', {
        email: this.$data.email,
      });
      this.$router.push('/');
    },
  },
};
</script>
