<template>
  <div class="auth-view">
    <VForm
      v-model="isValid"
      class="pt-4"
    >
      <VTextField
        v-model="$data.userAccount.name"
        :rules="[$validate.required]"
        validate-on-blur
        outlined
        color="white"
        placeholder="Name"
      />

      <VTextField
        v-model="$data.userAccount.email"
        :rules="[$validate.required, $validate.email]"
        validate-on-blur
        outlined
        color="white"
        placeholder="Email"
      />

      <VTextField
        v-model="$data.userAccount.password"
        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
        :rules="[$validate.required, $validate.password]"
        :type="showPassword ? 'text' : 'password'"
        validate-on-blur
        outlined
        color="white"
        placeholder="Password"
        autocomplete="current-password"
        @click:append="showPassword = !showPassword"
      />

      <VBtn
        :loading="$store.state.Activity.processing"
        :disabled="!isValid"
        class="white--text mt-2"
        block
        color="accent"
        @click="signup()"
      >
        Sign up
      </VBtn>
    </VForm>

    <VLayout
      class="mt-2"
      justify-space-between
      row
    >
      <VBtn
        class="white--text text-xs-right"
        right
        text
        to="/login"
      >
        Log in
      </VBtn>

      <VBtn
        class="white--text text-xs-left"
        left
        text
        to="/password-reset"
        right
      >
        Password Reset
      </VBtn>
    </VLayout>
  </div>
</template>

<script>
export default {
  data: () => ({
    userAccount: {
      name: '',
      email: '',
      password: '',
    },
    isValid: false,
    showPassword: false,
  }),
  methods: {
    signup() {
      this.$store.dispatch('Auth/signup', {
        name: this.$data.userAccount.name,
        email: this.$data.userAccount.email,
        password: this.$data.userAccount.password,
      });
    },
  },
};
</script>
