<style src="./App.css"></style>

<script>
import { mapState } from 'vuex';

import bootstrap from './bootstrap';

import LandingView from './Entrance/LandingView.vue';

// import Session from './Session/Session.vue';
// import Entrance from './Entrance/Entrance.vue';

const Session = () => import(/* webpackChunkName: "Session" */ './Session/Session.vue');
const Entrance = () => import(/* webpackChunkName: "Entrance" */ './Entrance/Entrance.vue');

export default {
  name: 'App',

  computed: mapState({
    ready(state) {
      return state.Shared.ready;
    },
    initialized(state) {
      return state.Shared.initialized;
    },
    authenticated(state) {
      return state.Auth.authenticated;
    },
  }),

  async mounted() {
    await bootstrap();
  },

  render(h) {
    const { ready, initialized, authenticated } = this;

    if (!ready || (authenticated && !initialized)) {
      return h(LandingView);
    }

    return h(authenticated ? Session : Entrance);
  },
};
</script>
